.m-nav {

}
.m-nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.m-nav-logo {
    width: 120px;
}
.m-nav-list {
    display: flex;
    font-size: 14.5px;
    align-items: center;
}
.m-nav-link {
    margin-right: 2.5rem;
    text-decoration: none !important;
}
.m-nav-link:hover {
    transform: scale(1.1);
}
.m-nav-btn {
    background: #33869D;
    color: #fff;
    border: 1px solid #33869D;
    border-radius: 6px;
    padding: 5px 2rem;
    height: 42px;
    font-family: 'Inter';
    font-weight: 400;
    width: 135px;
    font-size: 14px;
}
.m-nav-link-grey {
    color: #8A94A6;
    font-weight: 400;
}
.m-nav-link-pry {
    color: #33869D;
    font-weight: 500;
}
.m-nav-link-active {
    color: #33869D;
    font-weight: 500;
    position: relative;
}
.m-nav-link-active::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background: #33869D;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    margin-top: 10px;
    left: calc(50% - 2.5px);
}
.m-nav-dvd {
    width: 1px;
    height: 32px;
    background: #C1C7D0;
    margin-right: 3rem;
}
.m-nav-mobile-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: transparent;
    cursor: pointer;
}
.line {
    width: 100%;
    height: 2px;
    background: #33869D;
}
.m-nav-mobile {
    display: none;
}

@media(max-width: 800px) {
    .m-nav-desktop {
        display: none;
    }
    .m-nav-mobile {
        display: flex;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .m-nav-ctrl {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .m-nav-link-white {
        color: #fff;
    }
    .m-nav-link-white:hover {
        color: #fff;
        text-decoration: none;
        transform: scale(1.1) !important;
    }
    .m-nav-link-active {
        color: #fff;
    font-weight: 500;
    transition: 0.3s !important;
    }
    .m-nav-link-active::after {
        background: #fff;
    }
    .m-nav-btn {
        width: 100%;
        background: #fff;
        color: #33869D;
        height: 44px;
        transition: 0.3s !important;
    }
    .m-nav-btn:hover {
        transform: scale(1.1);
    }
    .m-nav-btn1 {
        color: #fff;
        border: 1px solid #fff;
        background: #33869D;
    }
    .m-nav-mobile ul {
        padding: 2rem 1rem 1rem;
    }
    .m-nav-socials {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        cursor: default;
    }
    .m-nav-socials img {
        width: 24px;
        cursor: pointer;
    }
}