* {
  box-sizing: border-box;
  transition: 0.3s;
}

html body {
  margin: 0;
  color: #8A94A6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scroll-behavior: smooth;
  height: 100%;
  transition: 0.3s;
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
}
@media(max-width:700px){
  body{
    font-size: 14px;
  }
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  transition: 0.3s;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #33869D; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #33869D; 
}

button, input, textarea, select {
  font-family: 'Avenir Next';
}

.appContainer {
  padding-left: 4% !important;
  padding-right: 4% !important;
}

html a {
  color: inherit;
  text-decoration: none !important;
}